@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #262626 transparent;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
}
